
*
{
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", sans-serif;
}

/*colors:  green -> rgba(139,197,65,255) , gray -> rgba(147,149,151,255)*/


.CF
{
  text-decoration: none;
  color: black;
  float: right;
  vertical-align: text-top;
  margin-right: 10px;

}

body
{
   background-color: white;
}

/*       Dean's message       */

h1{
   font-family: "Railway",sans-serif;
   font-weight: 10;
   margin: 15px;
   padding: 5px 5px;
}

h2{
   margin-left: 20px;
   margin-bottom: 10px;
    padding: 0px 0px 0px 20px;
    width: 36px;
    border-bottom: 3px solid;

}

#Message
{
  display: block;
  margin-right: 170px;
  margin-top: 0px;
  padding: 10px 20px;
  width: 1000px;
  float: right;
  background-color: white;
}

blockquote
{
   font-family: "Montserrat", sans-serif;
   line-height: default;
   margin: 15px;
   padding: 10px 5px;
   color: black;
   font-size: 14px;
   font-weight: 300;
   line-height: 2em;
}



img.dean{
  padding-top: 20px;
  display: inline-block;
  margin-left: 20px;
  width: 20%;
  float:right;
  margin-bottom:70px;

}


img.cv
{
  float:right;
  margin-left:20px;
  margin-right:-200px;
  padding-top:280px;
  display:block;
  padding-left:10px ;


}

img.email{
  float:right;
  margin-left:20px;
  margin-right:-100px;
  padding-top:280px;
  display:block;
  padding-left:10px ;
  
}




/*       Navigation Lists     */
nav.MainNav {
  height: 70px;
  background-color: rgba(139,197,65,255);
  width: 100%;
  margin-top: 20px
}

nav.MainNav li {
   display: block;
   float: left;
   font-family: sans-serif;
   text-transform: uppercase;
   margin: 5px 0px;
   padding: 2px;
   text-align: center;
   font-size: 14px;
   height: 50px;
   line-height: 50px;
   width: 165px;

}

nav.MainNav li:first-of-type{
  margin-left: 200px;
}

nav.MainNav li>a{
   display: block;
   color: white;
   text-decoration: none;

}


nav.MainNav li a:hover {
   background-color: transparent;
   color: gray;
   background-attachment: scroll;
}

.SecondaryNav
{
   clear: left;
    float: left;
    width: 200px;
    height: 70px;
     position: fixed;
    margin-left: 0px;
}

nav.SecondaryNav li {
  list-style-type: none;
   background-color: rgb(248,248,248);
   line-height: 20px;
   width: 225px;
   text-align: center;
   font-family: sans-serif;
   text-transform: uppercase;
   margin: 1px 0px;
   padding: 0px 2px;
   font-size: 14px;
   height: 50px;
  padding-top: 20px;
}

nav.SecondaryNav li:first-of-type {
  margin-top: 20px;
}
nav.SecondaryNav li a {
   color: rgba(52,58,64,255);
   text-decoration: none;
}

nav.SecondaryNav li:hover{
  border-style: solid;
  border-color: rgba(52,58,64,255);
}

nav.SecondaryNav li a:hover {
   font-weight: bold;
}

/*       DropMenu       */
nav.MainNav li a .dropdown .dropdown-menu {
   display: block;
   color: black;
   font-weight:bold;
   text-decoration: none;}

.dropdown a {
    text-decoration: none;
   display: block;
    color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: -40px;
  background-color: #f1f1f1;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color:black;
  font-family: sans-serif;
  font-size: 12px;
letter-spacing: 0.5px;
  font-weight: bold;

}

.dropdown-content a {
  color: black;
  padding: 0px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd; color:black;}

.dropdown:hover .dropdown-content {display: block; color:black;}

#A2
{
   width: 1000px;
}
.EID
{
   display: inline-block;
   box-shadow: ;   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   width: 210px;
   height: 100px;

}

.calender p
{

  font-size: 25px;
  margin-top: 7px;

  font-family: "Montserrat",sans-serif;
  text-align: center;
  color: white;

}

.EID .calender 
{
  background-color: black;
  width: 95px;
  height: 75px;
  float: left;
   margin-top: 15px;
   margin-left: 15px;
}


.FID
{
   float: right;
   margin-right: 5px;
   margin-top: 30px;

}

.FID p
{
   font-family: "Montserrat",sans-serif;
   margin-right: 5px;
  font-size: 15px;
}

#vidbutton {
  width: 20%;
  height: 40px;
  background-color: rgb(248,248,248);
  margin-top: 20px;
  margin-left: 110px;
}


#vidbutton a{
  text-decoration: none;
  color: black;
}

#vidbutton:hover{
  border: 3px outset rgba(52,58,64,255);
  font-weight: bold;
}

/*       CS        */

.heading{
  font-family:arial,sans-serif;
  font-weight:bolder;
  text-transform: uppercase;
  font-size: 35px;
  letter-spacing: 2px;
  color: grey;

}
h4{
  font-family: "Montserrat", sans-serif;
  text-indent: left;
  font-weight:bolder;
  font-size: 18px
  line-height:2em;
}

table.table1{
  font-family:arial,sans-serif;
  text-align: left;
  width:70%;
  border-collapse: collapse;
  border: 7px outset rgba(52,58,64,255);
  margin-left: 18px;
}

table.table1 th{
  padding-left: 10px;
}

table.table1 col.firstcolumn {
  height: 20em;

}

table.table1 td{
  text-align: left;
}

table.table2{
  font-family:arial,sans-serif;
  width:100%;
  text-align: left;
  border-color: gray;
}

table.table2 td {
text-align: center;

}

table.table2 col.firstcolumn{
 width:25%;
}

table.table2 tr:nth-of-type(odd){
  background-color:rgb(244, 244, 244)
}

table.table2 tr:nth-of-type(2){
  font-weight:bold;
  text-align: left;
}

.list1 ul li{
  list-style-type: decimal;
  list-style-position: inside;
  font-family: "Montserrat", sans-serif;
  line-height: default;
  margin: 15px;
  padding: 5px 5px;
  color: black;
  font-size: 15px;
  font-weight: 300;
}

.list2 {
  list-style-type: upper-roman;
  font-weight:bold;
  font-family: "Montserrat", sans-serif;
  line-height: default;
  margin: 15px;
  padding: 5px 5px;
  color: black;
  font-size: 15px;
}


/*       CE        */

figure img {
  border: 5px inset rgba(52,58,64,255);
  display: block;
  margin: 30px auto 10px;
  width: 80%;
}

figure figcaption {
  font-size: 20px;
  text-align: center;
  font-weight: bold;

}

table.table3 thead{
  background-color: rgba(52,58,64,255); 
  color: white;
}

table.table3 th{
  background-color: rgba(52,58,64,255); 
  color: white;
  width: 25%;
}

table.table3 th, table.table3 td { 
  border: 1px solid gray;
}

table.table3 {
  border: 6px outset rgba(51,57,63,254);
  border-collapse: separate;
  width: 100%;
}

table.table3 thead tr{
  height: 30px;
}

table.table3 tbody tr { 
  height: 20px;
}

table.table3 tbody td { 
  padding: 7px;
  text-align: center;
}

#AO{
  margin-left: 120px;
  width: 20%;
  height: 40px;
  background-color: rgba(139,197,65,255);
}

#AO a{
  text-decoration: none;
  color: white;
}

#AO:hover{
  border: 3px outset rgba(52,58,64,255);
  font-weight: bold;
}

#SP{
  margin-left: 60px;
  width: 20%;
  height: 40px;
  background-color: rgba(139,197,65,255);
}

#SP a{
  text-decoration: none;
  color: white;
}

#SP:hover{
  border: 3px outset rgba(52,58,64,255);
  font-weight: bold;
}

#vids{
  width: 20%;
  height: 40px;
  background-color: rgb(248,248,248);
}

#vids a{
  text-decoration: none;
  color: black;
}

#vids:hover{
  border: 3px outset rgba(52,58,64,255);
  font-weight: bold;
}

#gallery{
  margin-left: 217px;
  width: 20%;
  height: 40px;
  background-color: rgb(248,248,248);
}

#gallery a{
  text-decoration: none;
  color: black;
}

#gallery:hover{
  border: 3px outset rgba(52,58,64,255);
  font-weight: bold;
}


footer
{
   position: fixed;

  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(139,197,65,255);
  color: white;
  text-align: center;
  height: 35px;
}



address
{
   text-decoration: none;
   font-style: normal;
   margin-top: 7px;
   font-family: "Montserrat",sans-serif;
}


/*       Contact Form        */

#ContactUs
{
  margin-right: 500px;
}

#ast{
  margin-top: 10px;
  margin-bottom: 20px;
  color: rgb(233, 69, 0);
  font-size: 20px;
}

#side{
  float: left;
  padding-left: 30px;
  text-align: center;
  line-height: 20px;
}

fieldset {
  margin: 30px 0px 70px 20%;
  width: 850px;
}

legend {
   background-color: rgba(139,197,65,255); 
   color: white;
   padding-left: 1px;
   padding-right: 1px;
   text-indent: 1px; 
   margin-left: -2px;
   width: 100.2%;
   font-size: 40px;
}

label {
  clear: left;
  display: block;
  float: left;
  font-size: 16px;
  margin: 7px 4% 7px 5px;
  width: 40%;
}

input {
  display: block;
  float: left;
  font-size: 16px;
  margin: 7px 0px;
  width: 50%;
}

select {
  display: block;
  float: left;
  font-size: 16px;
  margin: 7px 0px;
  width: 50%;
}

textarea#sub {
  display: block;
  font-size: 16px;
  float: left;
  margin: 10px 0px;
  width: 50%;
}

textarea#message {
  display: block;
  font-size: 16px;
  float: left;
  height: 150px;
  margin: 10px 0px;
  width: 50%;
}

form p {
  text-align: center;
}

input[type="submit"]{
  display: inline;
  background-color: rgb(248,248,248);
  float: none;
  height: 40px;
  width: 200px;
}

input[type="submit"]:hover{
  border: 3px outset rgba(52,58,64,255);
  font-weight: bold;
}

input:focus, textarea:focus {
  background-color: rgb(220, 255, 220);
}

input:focus:valid {
  background: rgb(220, 255, 220)
  no-repeat;
  background-size: contain;
}

input:focus:invalid {
  background: rgb(255, 232, 233)
  no-repeat;
  background-size: contain;
}